body {
  background-image: url("images/court_image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  backface-visibility: hidden;
}

html {
  height: 100%;
}

img#orange {
  width: 18%;
}

* {
  box-sizing: border-box;
  backdrop-filter: blur(10);
  -webkit-backdrop-filter: blur(10);
  -webkit-filter: blur(10);
  filter: blur(10);
}

img {
    width: 15%;
}
